<div class="p-4 sm:ml-64">
  <div>
    <p>Price: <%= @quantity.price %></p>
    <p>Quantity: <%= @quantity.number %></p>
    <p>Name of the product <%= @quantity.product.name %></p>
    <p>Number <%= @quantity.product.description %></p>
    <p>Condition <%= @quantity.condition %></p>

  </div>
</div>
