<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main class="lg:max-w-full md:mx-auto mt-0 w-full">
    <% if current_user %>
      <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
        <%= button_to "LOGOUT",  destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
      </li>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
